
@{
    ViewBag.Title = "Home";
    
}

<span> Home | Projects | Contact </span>

<h1>Beth Hart</h1>
<h2>Developer</h2>
<img src="/wwwroot/images/1512112596148.png" alt="Photo of Beth Hart" />
<div class="aboutme">
    <h2>About Me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem metus, varius eget eros eget, posuere varius mauris. Nulla efficitur blandit dolor, vitae lobortis libero hendrerit in. Suspendisse eu blandit arcu, et maximus lorem. Phasellus aliquam quis enim sit amet imperdiet. Vestibulum accumsan posuere urna sit amet egestas. Vivamus ullamcorper purus non ante convallis, vitae placerat arcu lacinia. Vivamus enim neque, pellentesque sed turpis nec, euismod molestie urna. Duis dignissim erat vitae dictum laoreet. Cras erat lorem, semper eu tempor nec, eleifend vitae sapien. Phasellus vitae mi non nisl mollis laoreet. Nullam auctor risus mattis, consequat tortor a, fringilla orci. Nulla velit dui, dictum id tincidunt eget, scelerisque quis massa. Aenean ac tortor faucibus, ultrices erat eu, sagittis quam. Nulla non semper dui, sed finibus ante. Integer vestibulum sapien non ligula condimentum hendrerit.

        Praesent molestie mauris vel aliquet finibus. Sed porta porta metus, a placerat neque interdum sed. Vestibulum cursus, ligula accumsan mattis condimentum, orci nunc facilisis purus, vel pulvinar dolor mauris et orci. Nam porttitor, risus ut elementum viverra, sem purus lobortis felis, vitae sodales lacus magna vel felis. Pellentesque sollicitudin placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras risus tortor, convallis non dictum vel, molestie eget ante.

    </p>
</div>



