
@{
    ViewBag.Title = "Projects";
    
}
<div id="wrapper">
<h2>Here are some projects of mine!</h2>
    <div class="projectList">
        <h3>Project 1</h3>
        <h3>Project 2</h3>
        <h3>Project 3</h3>
    </div>
</div>
